<script>
    let timer = null;
    let currentStartTime = null;
    $(document).ready(function () {
        loadCurrentRun();
    });

    function updateTimer() {
        let current = new Date();
        let time = current - currentStartTime;
        let seconds = Math.floor(time / 1000);
        let minutes = Math.floor(seconds / 60);
        seconds = seconds - minutes * 60;
        let hours = Math.floor(minutes / 60);
        minutes = minutes - hours * 60;
        let timeStr = hours + ":" + minutes + ":" + seconds;
        $('#timer').text(timeStr);
    }

    function loadCurrentRun() {
        $.ajax({
            url: "{{ path('run_load_current') }}",
            success: function (data) {
                console.log(data);
                if (data.length > 0) {
                    $('#stop-running').show();
                    $('#start-running').hide();
                    currentStartTime = new Date(data);
                    timer = window.setInterval(updateTimer, 1000);
                } else {
                    $('#start-running').show();
                    $('#stop-running').hide();
                }
            }
        })
    }

    function startRunning() {
        $.ajax({
            url: "{{ path('run_start') }}",
            success: function (data) {
                console.log(data);
                $('#start-running').hide();
                $('#stop-running').show();
            }
        })
    }

    function stopRunning() {
        window.clearInterval(timer);
        $.ajax({
            url: "{{ path('run_stop') }}",
            success: function (data) {
                console.log(data);
                $('#start-running').show();
                $('#stop-running').hide();
            }
        })
    }
</script>

<div id="timer" class="text-center">00:00:00</div>
<a class="btn btn-info hidden" id="start-running" href="javascript:void(0)" onclick="startRunning()">RUN!</a>
<a class="btn btn-danger hidden" id="stop-running" href="javascript:void(0)" onclick="stopRunning()">STOP!</a>