@import '~bootstrap/scss/bootstrap.scss';
@import 'imports';

body {
    padding: 5px;
    background-color: #16111d;
    overscroll-behavior-x: none;
    overflow-x: hidden;
    color: white;
}

a {
    color: $dark-link;
}

h1, h2, h3, h4, h5, h6, nav {
    font-family: Google;
    color: white !important;
    text-decoration: none;
}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, nav:hover {
    color: white !important;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, nav {
    a {
        font-family: Google;
        color: white !important;
        text-decoration: none;
    }
}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, nav:hover {
    a:hover {
        color: #b9b9b9 !important;
        text-decoration: none;
    }
}

.content {
    padding: 10px;
}

.hidden {
    display: none;
}

#timer {
    width: 100%;
    display: block;
    align-content: center;
}