<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="row">
    <div class="col-sm-4 side-nav">
        <h1>Fitness Tracker</h1>
        <nav>
            <ul>
                <li class="nav-item">
                    <a href="#" class="nav-link">Sub Page 1</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Sub Page 2</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-sm-8">
        <div class="content">
            {% block body %}
                <h1>Welcome to my Fitness Tracker</h1>
            {% endblock %}
        </div>
    </div>
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
